.h1-left {
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
}

.main-body{
    width: 800px;
    position:relative;
}

.left-section{
    border: 1px solid black;
    width: 200px;
    position:absolute;
    left: 0px;
    height:  300px;
}

.right-section{
    width: 200px;
    height:  300px;
    border: 1px solid black;
    position:absolute;
    left: 600px;
    
}

.center-section {
    width: 400px;
    height: 300ps;
    border: 1px solid black;
    position:absolute;
    left: 200px;
    overflow: hidden
}

#img-center {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    /* animation-duration: 3s;
    animation-name: slidein; */
    animation: slidein 3s;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.button-slider{
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
    cursor: pointer;
    width: 80px;
    height: 50px;    
}

.footer-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Высота footer */
    height: 50px;
}

:focus {
    outline: 3px solid red;   
}
